{% extends "base.html" %}
{% load static %}

{% block head_title %}Create Project{% endblock %}

{% block content %}
    <h3>Create a project</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <p>
            <label>Project Files</label>
            <input id="fileupload" type="file" name="project_files" data-url="" multiple />
        </p>
        <p>
            <label>Test Cases</label>
            <input id="fileupload" type="file" name="test_cases" data-url="" multiple />
        </p>
        <input type="submit" class="btn"></input>
    </form>
{% endblock %}
