{% extends "base.html" %}

{% block content %}
    <h3>Project: {{project}}</h3>
    <a href="{% url get_project_zip project.pk %}">Get Files</a>
    <br />
    <h4>Project Files</h4>
    {% for file in project.projectfile_set.all %}
        <div class="row-fluid">
            <div class="span12">
                <a href="{{file.get_absolute_url}}">{{file}}</a>
                <a href="{% url projectfile_delete file.pk %}">Delete</a>
            </div>
        </div>
    {% endfor %}
    <a href="{% url projectfile_create project.pk %}">Add Project File</a>
    <br />
    <br />
    <br />
    <h4>Tests</h4>
    {% for test_case in project.testcase_set.all %}
        <div class="row-fluid">
            <div class="span12">
                <a href="{{test_case.get_absolute_url}}">{{test_case}}</a>
                <a href="{% url testcase_delete test_case.pk %}">Delete</a>
            </div>
        </div>
    {% endfor %}
    <a href="{% url testcase_create project.pk %}">Add Test Case</a>
    <br />
    <h4>Meta Data</h4>
    {% with project.get_meta as object %}
        {% include "autograde/projectmeta.html" %}
    {% endwith %}
    <a href="{% url projectmeta_edit project.get_meta.pk %}">Edit Meta Data</a>
{% endblock %}
