{% extends "base.html" %}

{% block content %}
    <h3>Project: {{project}}</h3>
    <br />
    <h4>Project Files</h4>
    {% for file in project.projectfile_set.all %}
        <div class="row-fluid">
            <div class="span12">
                <a href="{{file.get_absolute_url}}">{{file}}</a>
            </div>
        </div>
    {% endfor %}
    <h4>Tests</h4>
    {% for test_case in project.testcase_set.all %}
        <div class="row-fluid">
            <div class="span12">
                <a href="{{test_case.get_absolute_url}}">{{test_case}}</a>
            </div>
        </div>
    {% endfor %}
    <br />
{% endblock %}
