{% extends "autograde/base.html" %}
{% load static %}

{% block extra_style %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />
{% endblock %}

{% block extra_script %}
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#id_due_date_0").datepicker();
            $("#id_release_date_0").datepicker();
        });
    </script>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit"></input>
    </form>
{% endblock %}
