{% extends "autograde/base.html" %}
{% load static %}

{% block content %}
    <p>
        <a href="{% url projectfile_edit object.pk %}">Edit</a>
        <a href="{% url projectfile_delete object.pk %}">Delete</a>
    </p>
    <hr />
    <h3>Project File: {{object}}</h3>
    <p>
        Project: <a href="{{object.project.get_absolute_url}}">{{object.project}}</a>
    </p>
    <p>
        File: <a href="{{object.file.url}}">{{object.file}}</a>
    </p>
    <p>
        Student Viewable: {{object.is_student_viewable}}
    </p>
{% endblock %}
